<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Detalle carpeta</title>
  <link rel="stylesheet" href="../styles/carpeta-novios-detail.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.7.1/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
</head>
<body>
  <main id="carpeta-novios-detail" class="section">
    <section class="back-section"> 
      <svg id="back-svg" xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 32 32"><path fill="white" d="M10 16L20 6l1.4 1.4l-8.6 8.6l8.6 8.6L20 26z"/></svg>
      <h4 id="nombre-carpeta-title"></h4>
      <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 24 24"></svg>
    </section>

    <section id="carpeta-fotos-section">
    </section>
    
    <div id="progress-bar-container">
        <div id="progress-bar"></div>
    </div>
    <button id="descargar-fotos-carpeta" class="button">Descargar</button>
   
  </main>
  <script src="../scripts/carpeta-novios-detail.js"></script>
</body>
</html>