<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Novios</title>
  <link rel="stylesheet" href="../src/styles/novios.css">
</head>
<body>
  <div id="novios" class="section">
    <div class="search-novios-div">
      <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" viewBox="0 0 24 24"><path fill="white" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14"/></svg>
      <input type="text" id="search-novios" placeholder="Buscar novios">
    </div>

    <div id="lista-novios"> </div>
 
    <div class="buscar-novios-container">
      <p id="menasje-error-novios">Mensaje error</p>
      <input type="text" id="nombre-novios" class="data-novios" placeholder="Nombre">
      <input type="text" id="palabra-clave-novios" class="data-novios" placeholder="Palabra clave">
      <div class="checkbox-novios">
        <input type="checkbox" id="myCheckbox" >
        <label for="myCheckbox" >Deshabilitar formulario</label>
      </div>
   
      <button id="button-guardar-novios" class="button">Guardar</button>
    </div>
  </div>



  <script src="../src/novios.js"></script>
</body>
</html>