<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Novios</title>
  <link rel="stylesheet" href="../src/styles/productos.css">
</head>
<body>
  <div id="productos" class="section">
   
    <div id="lista-productos"> </div>
 
    <div class="buscar-novios-container">
      <p id="menasje-error-productos">Mensaje error</p>
      <input id="nombre-producto" type="text" class="data-novios" placeholder="Nombre">
      <input id="portada-producto" type="text" class="data-novios" placeholder="Portada">
      <textarea id="descripcion-producto" type="text" class="data-novios input-descripcion-producto" placeholder="Descripción"></textarea>
      <button id="guardar-producto" class="button">Guardar</button>
    </div>
  </div>



  <script src="../src/productos.js"></script>
</body>
</html>